.home {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* z-index: 10; */
}

.induk {
  width: 100%;
  height: 70vh;
  display: block;
  position: relative;
  z-index: -10;
}

.induk::after {
  content: "";
  background: url('../assets/background.jpeg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  filter: blur(3px)
}

.topDiv {
   width: 100%;
   z-index: 100;
   position: absolute;
   display: flex;
   justify-content: center;
   top: 180px;
}

.handleDemo {
   margin-top: 50px;
   margin-bottom: 50px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   width: 60vw;
   height: 555px 
}

.presetDiv {
  height: 777px;
  width: 100%;
}