.navbar{
    background-color: aliceblue;
    width: 100vw;
    height: 60px;
    padding-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.2em;
}

.right-bar {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-right: 30px;
}