.teamDiv {
    width: 40%;
    height: 220px;
    margin-top: 10px;
    background-color: #e7e7e7;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.teamSecondDiv { 
    width: 50%; 
    text-align: center;
}

.meetDiv { 
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    padding: 0px 150px
}

.insideTeamDiv{
    /* background-color: rebeccapurple !important; */
}

@media (max-width: 1245px) {
    .insideTeamDiv {
        width: 70% !important;
    }
}
@media (max-width: 900px) {
    .insideTeamDiv {
        width: 90% !important;
    }
}
@media (max-width: 650px) {
    .insideTeamDiv {
        width: 100% !important;
    }
    .meetDiv {
        padding: 0 30px !important;
        margin-bottom: 10px !important;
    }
}
@media (max-width: 365px) {
    .meetDiv {
        padding: 0 !important;
    }
    .showShow {
        padding: 0 !important;
        margin-left: -13px !important;
    }
}