.box {
    width: 100%;
    height: 40vh;
    background-color: rgb(256, 256, 256);
    margin-top: 230px;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.textCenter {
    text-align: center;
    font-size: 2vh;
}

.container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around;
    align-items: center;  */
}

.goMargin{
    margin-bottom: 1vw;
}

.bigMargin {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.insideBox {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -9px;
}