.test {
    background-color: beige;
    width: 100vw;
    height: 90vh;
    /* padding: 5%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.inside { 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    height: 100%;
}